#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp SPACE    // 对应索引 0 (Pin 6)
                &bt BT_CLR   // 对应索引 1 (Pin 8)
            >;
        };
    };
};