#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                // &kp SPACE  // 按下时输入空格，方便测试
                &out OUT_BLE  // 先刷这个，短接一次 6 号引脚，强制切换到蓝牙模式
            >;
        };
    };
};